*{
    box-sizing: border-box;
}

body{
    background-color: var(--web-background);
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

#all{
    min-width:1400px;
    height:100%;
}

#big-header {
    height: 100px;
    background-color:var(--header-color);
    /*overflow: hidden;*/
}

a{
    text-decoration: none;
    color: var(--web-black);
}

#header{
    width:inherit;
    max-width:1680px;
    width:inherit;
    height:100px;
    margin: 0 auto 0 auto;
    position: relative;
}

/* top header left */

#webtoon-logo{
    width:95px;
    height:95px;
    margin-top:2.5px;
    margin-left: 15px;
    float: left;
}

ul#navi-links{
    height:100px;
    width: auto;
    float:left;
    padding-top: 40px;
}

ul#navi-links li{
    display: inline-block;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin:auto 0 auto 30px;
}

ul#navi-links li a:hover{
    color: var(--web-green);
}

/* top header right */
.login-bar{
    position:absolute;
    top:32px;
    right:20px;
    width: auto;
}
#creators, .vertical-lign, .navi-buttons, #search-bar{
    display: inline-block;
}

#creators span{
    font-weight: 700;
    margin-top: 0.2px;
}

#creators img{
    width:18px;
    height:18px;
    float:left;
    margin-right: 5px;
    padding-top:0;
}

#creators a:hover{
    color: var(--web-green);
}

#creators a:hover img{
    filter: invert(68%) sepia(35%) saturate(2559%) hue-rotate(95deg) brightness(93%) contrast(103%);
}

.vertical-lign{ /* ARRUMAR*/
    color: var(--web-lighter-gray);
    margin:0px 10px 0 10px;
}

/*buttons on header*/
.button-top{
    font-size: 14px;
    font-weight: 600;
    border-radius: 18px;
    padding:8px 30px;
    margin-right:5px;
    line-height: 35px;
}

#publish{
    color: var(--header-color);
    background-color: var(--web-black);
}

#publish:hover{
    background-color: black;
}

#log-in{
    color: var(--web-not-so-light-gray);
    border:1px solid var(--web-not-so-light-gray);
    margin-right: 0;
    padding-top:7px;
    padding-bottom:7px;
}
/*END buttons on header*/
#search-bar img{
    width:13px;
    height:13px;
    filter: invert(73%) sepia(3%) saturate(11%) hue-rotate(352deg) brightness(90%) contrast(94%);
}

#search-bar:hover{
    background-color: var(--web-too-gray);
}

#search-bar{
    text-align:center;
    margin-top:-10px;
    width:33px;
    height:33px;
    border: 1px solid var(--web-not-so-light-gray);
    border-radius: 50%;
    padding-top:6px;
    color: var(--web-not-so-light-gray);
}

#search-bar-open{
    position: absolute;
    border:1px solid var(--web-not-so-light-gray);
    background-color: var(--header-color);
    border-radius: 17px;
    z-index: 1000;
    font-size: 12px;
    right:0;
    top:0;
    width: 340px;
    /*padding-left: 20px;*/
    padding-right: 10px;
    padding-top:7px;
    padding-bottom: 6px;
}

#search-bar-open input{
    border:none;
    font-family: 'Nunito', sans-serif;
    margin-right:10px;
    margin-left:20px;
}

.ico_search, .ico_clear{
    width:13px;
    height:13px;
    background-size:13px 13px;
    background-repeat: no-repeat;
    filter: invert(73%) sepia(3%) saturate(11%) hue-rotate(352deg) brightness(90%) contrast(94%);
    color:transparent;
}

.ico_search{
    background-image: url("../images/icons/magnifying-glass.svg");
}

.ico_clear{
    background-image:url("../images/icons/cross.svg");
}

#open-search-box{
    padding-left:20px;
    margin-top: 6px;
    width:339px;
    z-index: 100000;
}

#open-search-box #clear-recent{
    color: var(--web-super-gray);
    font-weight: 600;
    font-size: 15px;
    padding-left: 20px;
    padding-top:10px;
    padding-bottom:5px;
}

#clear-recent{
    margin-left:-20px;
    display: block;
    border-top: 1px solid var(--web-lighter-gray);
}

/*the id recentie is made for JavaScript use*/
#open-search-box .recent{
    margin-left:-20px;
    display: block;
    border-top: 1px solid var(--web-lighter-gray);
}

#open-search-box .recent li{
    padding-left: 20px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:14px;
}

#open-search-box .recent li a{
    color: var(--web-super-gray);
}

#open-search-box .recent li:hover{
    background-color: var(--web-gray-highlight);
}

/*-- banner --*/
.banner{
    width:100%;
    height:492px;
    background-image: url("../images/banner/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-banner{
    width:1110px;
    height:inherit;
    margin-left:auto;
    margin-right: auto;
    position:relative;
}

.big-poster{
    float:left;
    width:806px;
    height: inherit;
    position: relative;
}

.big-poster .banner-pic{
    position: absolute;
    right:-38px;
    z-index:1;
}


.link-box{
    position: absolute;
    height:416px;
    top:38px;
    left:0;
    width:inherit;
    background-color: transparent;
    display: block;
    z-index: 100;
}

#pagination{
    height:12px;
    width: 200px;
    position: absolute;
    bottom:64px;
    left:26px;
    z-index:110;
}

#pagination a{
    height:10px;
    width:10px;
    display: inline-block;
    background-image: url("../images/banner/circle.svg");
    background-size: 10px;
    filter: invert(75%) sepia(5%) saturate(8%) hue-rotate(319deg) brightness(87%) contrast(95%);
    margin-right: 12px;;
}

#pagination a.open{
    filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(307deg) brightness(102%) contrast(103%);
}

.poster-container{
    float:right;
    height:416px;
    margin-top:38px;

}

.poster{
    width:304px;
    height: 208px;
    display: block;
    position: relative;
}

#first-poster img{
    position: absolute;
    right:0;  
    top:0;  
}

#sec-poster img{
    position: absolute;
    right:0;  
    bottom:0; 
}

/*----- WEEKLY UPDATES -----*/

/*-- WEEKLY UPDATES: days tab --*/
.daily{
    background-color: white;
    width:100%;
    height:62px;
    border-top:1px solid var(--web-border);
    border-bottom:1px solid var(--web-border);
}
.daily-inner{
    width:1110px;
    margin: 0 auto;
    height:inherit;
    position: relative;
}

#days-of-week{
    margin-left: 107px;
    width:840px;
}

#days-of-week li{
    width: 120px;
    text-align: center;
    float:left;
}

#days-of-week a.days{
    display:block;
    width: 120px;
    height:60px;
    font-weight: 700;
    color: black;
    padding-top:20px;
    padding-bottom:20px;
}

#days-of-week a.closed:hover, .daily-inner .closed:hover{
    color:var(--web-green);
}

#days-of-week a.open{
    background-color:var(--web-green);
    color:white;
    margin-top:-1px;
    height:62px;
}

.daily-inner .also-button {
    position: absolute;
    display: inline-block;
    top:0;
    right:0;
}
.also-button a{
    display:block;
    width: 120px;
    height:60px;
    font-weight: 600;
    color:var(--web-not-so-light-gray);
    padding-top:21px;
    padding-bottom:20px;
    font-size: 15px;
    text-align: center;
    
}

#vertical{
    background-color: var(--web-border);
    width:1px;
    height:14px;
    margin-left: 23px;
    margin-top:20px;
    display: inline-block;
}

.page-box{
    width:100%;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--web-light-gray);    
}

.webtoon{
    margin:0 auto;
    padding-top: 18px;
    padding-left:15px;
    height:450px;
    overflow: hidden;
}

.page{
    width:1140px;
}

.webtoon li{
    display: inline-block;
    width:210px;
    height:210px;
    margin:0 10.5px 10.5px 0;
    overflow: hidden;
}

.webtoon .page-flip{
    display: block;
    width:210px;
    height:210px;
    background-color: khaki;
    position:relative;
}

.page-flip .card-front, .page-flip .card-back{
    width:210px;
    height:210px;
    top:0;
    left:0;
    position: absolute;
    transition: opacity 0.5s;
}

.card-front .info{
    margin-top: -196px;
    margin-left:18px;
    margin-right:35px;
    width:157px;
    height:178px;
}

.card-front .genre{
    display: block;
    margin-top:-14px;
    margin-left:18px;
    font-size: 14px;
}

.title{
    font-weight: 600;
    line-height: 20px;
    margin-bottom:5px;
    font-size:16px;
}

.grade-area{
    font-size: 15px;
    filter: invert(72%) sepia(59%) saturate(4163%) hue-rotate(101deg) brightness(97%) contrast(106%);
}

/* GENRES COLORS*/
.romance{
    color:var(--romance);
}

.drama{
    color:#09B39E;
}

.sci-fi{
    color: green;
}

.comedy{
    color: #EEA800;
}

.fantasy{
    color: #75007F;
}

.slice{
    color:#9AB710;
}

.supernatural{
    color:blue;
}

.card-back{
    background-color: indigo;
    opacity:0;
}

.card-back.romance, .genre-list .romance{
    background-color:var(--romance);
}

.card-back.drama, .genre-list .drama{
    background-color:#09B39E;
}

.card-back.sci-fi, .genre-list .sci-fi{ 
    background-color: green;
}

.card-back.comedy, .genre-list .comedy{
    background-color:#EEA800;
}

.card-back.fantasy, .genre-list .fantasy{
    background-color: #75007F;
}

.card-back.slice, .genre-list .slice{
    background-color:#9AB710;
}

.card-back.supernatural, .genre-list .supernatural{
    background-color:blue;
}

.page-flip:hover .card-back{
    opacity: 1;
}

.card-back .info{
    margin-top: 18px;
    margin-left:18px;
    margin-right:35px;
    width:157px;
    height:178px;
    color:white;
    overflow:hidden;
    text-overflow: ellipsis;
}

.author{
    font-size:14px;
}

.horizontal-line{
    display:block;
    width:20px;
    height:1px;
    background-color:white;
    margin-top:15px;
    margin-bottom:15px;
}

.synopsis{
    height: auto;
    font-size: 13px;
    
    margin-bottom: 0;
}

.genre{
    text-transform: capitalize;
}

/*-- NEW TO WEBTOON --*/

.page-box h3{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

#new-to-webtoon{
    height:300px;
    width:1140px;
    margin:0 auto;
}

.genre-list{
    height: 500px;
    margin:0 auto;
}

#genres-bar{
    width:1140px;
    margin:0 auto;
}

.page-box h2{
    text-align: center;
}

.genre-list li {
    width:1125px;
}

.genre-list li a{
    display: block;
    height:210px;
    width:210px;
    color:white;
    margin-right: 0;
    position:relative;
}

.genre-list li a p{
    position:absolute;
    top:20px;
    left:20px;
    font-weight: 700;
    width:150px;
    text-transform: uppercase;
}

.genre-list li a .description{
    position:absolute;
    bottom:20px;
    left:20px;
    width:160px;
    font-size:15px;
}

.genre-list li a img{
    position:absolute;
    top:23px;
    right:18px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}